@charset "UTF-8";
/* 페이징 */
.pagination {
	display: inline-block;
	text-align: center;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	font-size: 13px;
}

.pagination a.active {
	background-color: #000;
	color: white;
}

.pagination a:hover:not (.active ) {
	background-color: #ddd;
}

#paginationContainer {
	text-align: center;

/* 별점 css  */
.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:22px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#ffcc00;}
.home-top{
   margin-top: 100px;
}